@font-face {
  font-family: RobotoCondensed;
  src: url(assets/roboto-condensed.light.ttf);
  font-weight: 800;
}

@font-face {
  font-family: EconomicaBold;
  src: url(assets/economica-bold.ttf);
}

body {
  background-color: #010e2c;
  color: white;
  font-family: "RobotoCondensed";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "EconomicaBold", sans-serif;
}

.layout {
  padding: 40px;
}

.bar {
  display: grid;
  grid-template-columns: 180px auto 100px 100px;
}
