@font-face {
  font-family: RobotoCondensed;
  src: url(assets/roboto-condensed.light.ttf);
  font-weight: 800;
}

@font-face {
  font-family: EconomicaBold;
  src: url(assets/economica-bold.ttf);
}

body {
  background-color: #010e2c;
  color: white;
  font-family: "RobotoCondensed";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "EconomicaBold", sans-serif;
}

.layout {
  padding: 40px;
}

.bar {
  display: grid;
  grid-template-columns: 180px auto 100px 100px;
  margin-bottom: 40px;
}

.logo {
  font-size: 1.5em;
}

// control button //
.controlButton {
  cursor: pointer;
  font-size: 110%;

  &:hover {
    color: yellow;
  }
}

.controlBtnActive {
  text-shadow: 0 0 10px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18,
    0 0 55px #49ff18, 7px -22px 4px rgba(95, 206, 151, 0);
}

.centerDiv {
  margin: 20px;
  color: green;
}

// confirm button //
.confirmButton {
  display: grid;
  justify-content: center;
  cursor: pointer;
}
