@font-face {
  font-family: RobotoCondensed;
  src: url(assets/roboto-condensed.light.ttf);
  font-weight: 800;
}

@font-face {
  font-family: EconomicaBold;
  src: url(assets/economica-bold.ttf);
}

body {
  background-color: #010e2c;
  color: white;
  font-family: "RobotoCondensed";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "EconomicaBold", sans-serif;
}

.layout {
  padding: 40px;
}

.bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 180px auto 100px 100px;
      grid-template-columns: 180px auto 100px 100px;
  margin-bottom: 40px;
}

.logo {
  font-size: 1.5em;
}

.controlButton {
  font-size: 110%;
  color: #fff;
}

.controlButton:hover {
  color: yellow;
}

.controlBtnActive {
  text-shadow: 0 0 10px #fff, 0 0 20px #49ff18, 0 0 30px #3ae20b, 0 0 55px #49ff18, 7px -22px 4px rgba(95, 206, 151, 0);
}

.centerDiv {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
}

.confirmButton {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  margin: 20px auto;
  font-size: 1.5em;
  padding: 5px;
  font-family: "EconomicaBold", sans-serif;
  max-width: 180px;
}

.confirmButton a {
  color: #42ff3a;
}

.confirmButton a:hover {
  text-decoration: none;
}

.confirmButton:hover {
  -webkit-box-shadow: 0px 0px 4px 2px yellow;
          box-shadow: 0px 0px 4px 2px yellow;
}

.confirmButton:hover a {
  color: yellow;
}

.coinGrid {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(130px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 15px;
}

.coinHeaderGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.deleteHeaderGrid {
  -ms-grid-column-align: right;
      justify-self: right;
  display: none;
  color: red;
}

.coinSymbol {
  -ms-grid-column-align: right;
      justify-self: right;
}

.coinImage {
  height: 50px;
}

.coinImage__spotligh {
  height: 180px;
  margin: auto;
  display: block;
}

.selectableTile {
  background-color: #121d5b;
  padding: 10px;
}

.selectableTile:hover {
  -webkit-box-shadow: 0px 0px 5px 1px #a9b6ff;
          box-shadow: 0px 0px 5px 1px #a9b6ff;
  cursor: pointer;
}

.deleteableTile {
  background-color: #36042a;
  padding: 10px;
}

.deleteableTile:hover {
  -webkit-box-shadow: 0px 0px 5px 1px #e41111;
          box-shadow: 0px 0px 5px 1px #e41111;
  cursor: pointer;
}

.deleteableTile:hover .deleteHeaderGrid {
  display: block;
}

.disableTile {
  pointer-events: none;
  opacity: 0.3;
}

.search {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
}

.search__input {
  background-color: #afddf1;
  color: #010e2c;
  font-size: 140%;
  height: 40px;
  -ms-grid-column-align: left;
      justify-self: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.priceGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(130px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 15px;
  margin-top: 40px;
}

.priceGrid__24hr {
  -ms-grid-column-align: right;
      justify-self: right;
}

.priceGrid .red {
  color: red;
}

.priceGrid .green {
  color: green;
}

.tickerPrice {
  font-size: 1.7em;
}

.currentFavorite {
  -webkit-box-shadow: 0px 0px 5px 1px #42ff3a;
          box-shadow: 0px 0px 5px 1px #42ff3a;
  pointer-events: none;
}

.currentFavorite:hover {
  -webkit-box-shadow: 0px 0px 5px 1px #42ff3a;
          box-shadow: 0px 0px 5px 1px #42ff3a;
}

.spinnerCenter {
  margin-top: 20vh;
  text-align: center;
}

.chartGrid {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  grid-gap: 15px;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

.chartGrid__tile {
  background-color: #121d5b;
  padding: 10px;
}

.chartGrid__tile h2 {
  text-align: center;
}

.test {
  color: #061a44;
  color: #010e2c;
  color: #42ff3a;
  color: #e1eaee;
  color: #121d5b;
  color: #5fff17;
  color: #e41111;
}
/*# sourceMappingURL=index.css.map */